:root {
  --c-primary: #434455;
  --c-background-light: #d9d9d9;
  --c-background: #ffffff;
  --color-green: #31d0aa;
}
/* Base */
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  color: #434455;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}



a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;}
.section {
 padding: 96px 0;
 margin: 0 auto;
}

.container {
  min-width: 320px;
  width: 320px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
.line {
  border-bottom: 1px solid #e7e9fc;
  text-decoration: none;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  min-width: 320px;
  margin: 0 auto;
}
.container .line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em; /* em, rem */ /* let.spa./ font-size */
  text-transform: uppercase;
  
}
.logo-accent {
  color: #2e2f42;
}
.mobile-open-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: #2f2f37;
  background: transparent;
  outline: none;
  border: none;
}
.link{
  display: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.address-link{
  font-style: normal;
  display: none;
}
.address-link{
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  font-weight: 400;}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
.menu-mobile-block {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background:#f4f4fd;
  top: 0;
  left: 0;
  transition: 0.5s;
  padding: 72px 16px 40px 16px;
}

.mobile-menu-top {
 flex-grow: 1;
}
.menu-mobile{
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.nav-item-mobile {
  display: inline-block;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.nav-item-mobile:hover,
.nav-item-mobile:focus,
.menu-mobile .active {
  color:404bbf;
}
.mobile-social-links{
  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex-shrink: 0;
}

.mobile-social-links .icon {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}
.hero-section {
  background: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/peopleOffice.jpg");
  max-width: 768px;
}
  

  
  








